{
  "mail": {
    "host": "imap.gmail.com",
    "auth": {
      "user": "XXX@gmail.com",
      "pass": "XXX"
    }
  },
  "slack": {
    "token": "xoxb-XXX",
    "channel_id": "XXX",
  },
  "filter": [
    {
      "cond": "allow",
      "subject": "^TITLE$",
      "bodyFilter": {
        "regex": "BODY REGEX",
        "replace": ""
      }
    },
    {
      "cond": "allow",
      "from": "^FROM$",
      "bodyFilter": {
        "regex": "^BODY (.*) REGEX$",
        "replace": "$1"
      }
    },
    {
      "cond": "allow"
    }
  ],
  "debug": false,
  "dryrun": false
}
